<div class="container bg-blue-100 p-4 sm:p-6 lg:p-10 rounded-md mx-auto">
    <div class="flex justify-center">
        <div class="overflow-auto w-full">
            <!-- Search Form -->
            <div class="flex justify-between items-center mb-4">
                <!-- <input
                    type="text"
                    class="p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500"
                    placeholder="Search employees..."
                /> -->
                <div class="relative">
                    <form [formGroup]="searchForm" class="relative">
                        <input type="text" class="p-2 pl-10 border border-blue-300 rounded-md"
                            formControlName="searchTerm" placeholder="Search employees..." />
                        <button class="absolute inset-y-0 left-0 pl-3 flex items-center text-gray-500"
                            (click)="searchEmployees()">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                                </svg>
                            </div>
                        </button>
                    </form>
                </div>
                <app-form-employee></app-form-employee>
            </div>

            <div class="overflow-x-auto overflow-y-auto bg-white" style="max-height: 400px;">
                <table class="table-auto min-w-full">
                    <thead class="bg-gray-50 sticky top-0 z-1">
                        <tr>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                ID</th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Name</th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Email</th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Birth Date</th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Basic Salary</th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Status</th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Group</th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Actions</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white">
                        <tr *ngFor="let employee of pagedEmployees">
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ employee.id }}
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{
                                employee.firstName }} {{ employee.lastName }}</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ employee.email
                                }}</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{
                                employee.birthDate | date }}</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{
                                employee.basicSalary | currency: 'IDR' }}</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ employee.status
                                }}</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ employee.group
                                }}</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                <div class="flex justify-center space-x-4">
                                    <button class="bg-red-500 hover:bg-red-400 text-white font-bold py-2 px-4 rounded"
                                        (click)="deleteEmployee(employee.id)">
                                        Delete
                                    </button>
                                    <app-edit-employee [employeeId]="employee.id"></app-edit-employee>
                                    <app-detail-employee-v2 [employeeId]="employee.id"></app-detail-employee-v2>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Detail Pagination Info -->
            <div class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6">
                <div class="flex-1">
                    <p class="text-sm text-gray-700">
                        Showing
                        <span class="font-medium">{{currentPage}}</span>
                        to
                        <span class="font-medium">{{itemsPerPage}}</span>
                        of
                        <span class="font-medium">{{employees.length}}</span>
                        results
                    </p>
                </div>
                <div class="flex flex-1 justify-between sm:hidden">
                    <a href="#"
                        class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Previous</a>
                    <a href="#"
                        class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Next</a>
                </div>
                <div class="hidden sm:flex sm:items-center sm:justify-end">
                    <div>
                        <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
                            <button (click)="setPage(currentPage - 1)" [disabled]="!hasPreviousPage()"
                                class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                                <span class="sr-only">Previous</span>
                                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z"
                                        clip-rule="evenodd" />
                                </svg>
                            </button>
                            <button *ngFor="let page of range(totalPage)" (click)="setPage(page)" aria-current="page"
                                class="relative z-10 inline-flex items-center {{ currentPage == page ? 'bg-gray-600 text-white' : 'text-gray-700'}} px-4 py-2 text-sm font-semibold focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                                {{ page }}
                            </button>
                            <button (click)="setPage(currentPage + 1)" [disabled]="!hasNextPage()"
                                class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                                <span class="sr-only">Next</span>
                                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                        clip-rule="evenodd" />
                                </svg>
                            </button>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>